#div_postbounty_notes{
	position:absolute;
	text-align:center;
	width:200px;
	height:150px;	
	top:200px;
    left:20px;
	border:0px solid gray;
}
#button_bountysubmit{
	position:absolute;
	top:400px;
	left:78px; /*355/2-50*/
	width:100px;
	height:30px;
}
#button_cancelbountysubmit{
	position:absolute;
	top:400px;
	left:198px; /*355/2-50*/
	width:100px;
	height:30px;
}
#target_select{
    position:absolute;
    margin:auto;
    left:80px;
    top:100px;
}
