#div_post_bounty{
    position:absolute;
    top:15px;
    left:400px;
}
#div_bountysketch{
    width:400px;
    height:200px;
    position:absolute;
    left:10px;
    top:10px;     
}
#div_bounty_info{
    position:absolute;
    border:0px solid blue;
    width:385px;
    height:500px;
    top:0px;
    left:550px;
    font-size:0.9em;
}

#div_postbounty_notes{
    position:absolute;
    text-align:center;
    width:300px;
    height:120px;    
    top:200px;
    left:20px;
    border:0px solid gray;
}
#button_bountysubmit{
    position:absolute;
    top:400px;
    left:78px; 
    width:100px;
    height:30px;
}
#button_cancelbountysubmit{
    position:absolute;
    top:400px;
    left:198px; 
    width:100px;
    height:30px;
}
#target_select{
    position:absolute;
    margin:auto;
    left:80px;
    top:100px;
}
