.helptabunselected{
    background:white;
}
li{
	margin-left:25px;
	list-style-type:circle;
	padding-bottom:10px;
	padding-top:10px;
}
b{
	font-weight:bold;
}
.help_content{
    margin:auto;
    margin-top:65px;
    min-height:100px;
    width:700px;
    display:none;
    text-align:justify;
    font-size:0.8em;
}
