{
    "domain":"https://ipaddress:443",
    "babeldir":"/usr/bin/",
    "wkhtmltopdfdir":"/usr/bin/",
    "convertdir":"/usr/bin/",
    "postgresql": {
        "host":"localhost",
        "port":5432,
        "database":"iddqddb",
        "user":"iddqd",
        "pass":"password"
    },
    "email": {
        "from_address":"admin@admin.admin",
        "host":"smtp.admin",
        "port":587,
        "user":"admin",
        "pass":"password"
    }
}
